In [9]:
import os
from dotenv import load_dotenv
import pyodbc
from sqlalchemy import create_engine
import pandas as pd

# Load environment variables
load_dotenv()

# Get credentials from .env
db_server = os.getenv('DB_SERVER')
db_name = os.getenv('DB_NAME')
db_user = os.getenv('DB_USER')
db_password = os.getenv('DB_PASSWORD')
# Try this connection string format
connection_string = (
    f"DRIVER={{SQL Server}};"
    f"SERVER={db_server};"
    f"DATABASE={db_name};"
    f"UID={db_user};"
    f"PWD={db_password}"
)

try:
    # First test with pyodbc
    conn = pyodbc.connect(connection_string)
    print("PyODBC Connection successful!")
    
    # If that works, try with SQLAlchemy
    engine = create_engine(f"mssql+pyodbc:///?odbc_connect={connection_string}")
    
    # Test the query
    data_frame = pd.read_sql_query('SELECT * FROM gold.household_power_consumption_at_15_min_interval', engine)
    
except Exception as e:
    print(f"Error: {str(e)}")
data_frame.head()

Server: msi
Database: ElectricConsumption
User: sa
PyODBC Connection successful!

,date_time,avg_global_active_power,avg_global_reactive_power,avg_voltage,avg_global_intensity,dwh_create_date
0,2010-05-27 12:00:00.0000000,1.372400,0.196933,239.230666,5.773333,2025-03-18 00:51:15
1,2006-12-24 13:45:00.0000000,2.174533,0.174933,239.255333,9.106666,2025-03-18 00:51:15
2,2007-03-29 10:00:00.0000000,1.412266,0.183600,237.534000,5.946666,2025-03-18 00:51:15
3,2007-10-20 11:45:00.0000000,1.742266,0.224933,242.124666,7.253333,2025-03-18 00:51:15
4,2008-05-19 08:00:00.0000000,1.417066,0.193066,238.991333,5.973333,2025-03-18 00:51:15